body {
    background-color: #1f2937;
}

/* HEADER*/

#logo {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
}
.Header {
    display: flex;
    justify-content: space-between;
}
.headerlinks{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    flex: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*text&image*/

.textandimage {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item1 {
    width: 440px;
}
#awesome {
    padding-right: 100px;
}
.item2 {
    width: 440px;
    margin-top: 20px;
    background-color: rgba(0, 139, 139, 0.226);
    max-width: 440px;
    max-height: 320px;
}
