body {
    background-color: black;
}

/* HEADER*/

#logo {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 80px;
}
.Header {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.Header>div {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}
.headerlinks{
    text-decoration: none;
    color: #b8b8b8a1;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
    flex: auto;
}

/*text&image*/

.textandimage {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    flex-wrap: wrap;
}
.item1 {
    width: 440px;
    max-width: 440px;
    flex: 1;  
}
.item1>p {
    color: #b8b8b8a1;
    margin-right: 20px;
    text-align: justify;
}
.item1>button {
    background-color: #3882f6;
    border-radius: 10%;
    border-color: #3882f6;
    color: aliceblue;
}
#awesome {
    padding-right: 100px;
}
.item2 {
    width: 440px;
    margin-top: 20px;
    max-width: 440px;
    max-height: 320px;
    flex: 0 1 100%;
}
.item2>img {
    max-width: 440px;
    max-height: 320px;
}

/*itempres*/

.itempres {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    flex-wrap: wrap;
    width: auto;
}
.inf {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px;
}
.blue-box {
    border-radius: 10%;
    height: 100px;
    width: 170px;
    padding-left: 15px;
    border: 2px solid #3882f6;
    padding-bottom: 10px;
}

/*quote*/

.quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #cfd1d4;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.quote>* {
    flex: 1;
}
#person {
    font-weight: bold;
}