body {
    background-color: black;
}

/* HEADER*/

#logo {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 80px;
}
.Header {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.Header>div {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}
.headerlinks{
    text-decoration: none;
    color: #b8b8b8a1;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    flex: auto;
}

/*text&image*/

.textandimage {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 10px;
    color: white;
}
.item1 {
    width: 440px;
    max-width: 440px;
    flex: 1;  
}
.item1>p {
    color: #b8b8b8a1;
}
#awesome {
    padding-right: 100px;
}
.item2 {
    width: 440px;
    margin-top: 20px;
    max-width: 440px;
    max-height: 320px;
    flex: 0 1 100%;
}
.item2>img {
    max-width: 440px;
    max-height: 320px;
}
