body {
    background-color: #1f2937;
}
#logo {
    color: #f9faf8;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.pagelinks {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
.Header {
    display: flex;
    justify-content: space-between;
}
.headerlinks{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}